:root {
    --x: 0px;
    --y: 0px;
    --playerHeight: 50px;
    --nonPxPlayerHeight: 50;
    --playerTransition: width 0.1s cubic-bezier(0.42, 0, 0.46, 2.29), height 0.1s cubic-bezier(0.42, 0, 0.46, 2.29), left 0.1s cubic-bezier(0.42, 0, 0.46, 2.29);
}
.button {
    appearance: none;
    width: 200px;
    height: 75px;
    background: brown;
    border: 2px solid black;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 100px;
    border-radius: 20px;
}
.button:nth-of-type(1){
    top: 150px;
}
.button:nth-of-type(2){
    top: 300px;
}
.button:hover {
    background: rgb(255, 150, 100);
    font-size: 45px;
}
.button:active {
    scale: 0.9;
}
h1 {
    font-size: 50px;
}
body {
    background: #add8e6;
    overflow: hidden;
}
p {
    font-size: 30px;
}
#jumps {
    position: fixed;
    right: calc(50% - 100px);
    font-size: 30px;
    line-height: 20px;
    color: red;
    bottom: calc(50% + 35px);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 25px;
    user-select: none;
    -webkit-user-select: none;
}
#jumps svg {
    width: 20px;
    height: 20px;
    display: inline;
}
#air-jumps {
    position: fixed;
    right: calc(50% - 100px);
    font-size: 30px;
    line-height: 20px;
    color: blue;
    bottom: calc(50% + 65px);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    user-select: none;
    -webkit-user-select: none;
}
#air-jumps svg {
    display: inline;
    width: 20px;
    height: 20px;
}
#stars {
    position: fixed;
    right: calc(50% - 100px);
    font-size: 30px;
    line-height: 20px;
    color: yellow;
    bottom: calc(50% + 95px);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    user-select: none;
    -webkit-user-select: none;
}
#player {
    --playerWidth: calc(2500px / var(--nonPxPlayerHeight));
    width: var(--playerWidth);
    height: var(--playerHeight);
    background: url(player.png);
    position: fixed;
    left: calc(50% - var(--playerWidth) / 2);
    top: calc(50% - var(--playerHeight) / 2);
    transform-origin: center bottom;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    transition: var(--playerTransition);
    transform: translateY(calc((50px - var(--playerHeight)) / 2));
}
#game {
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Another Safari-specific "trick" */
    position: absolute;
    left: 0px;
    top: 0px;
    border: none;
    transform: translate(var(--x), var(--y));
    z-index: 1;
}
#win-screen {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: none;
    background: rgba(173, 216, 230, 0.25);
    backdrop-filter: blur(5px);
    flex-direction: column;
    z-index: 6;
}
@keyframes jump {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes collapse {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(5px);
    }
    20% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(5px);
    }
    40% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(0px);
    }
    90% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(500px);
        opacity: 0;
    }
}
@keyframes death {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes collect {
    0% {
        transform: translateY(0px) scale(1, 1);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px) scale(1.5, 1.5);
        opacity: 0;
    }
}
@keyframes collectStar {
    0% {
        transform: scale(1, 1) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(3, 3);
        opacity: 0;
    }
}

.background {
    background-repeat: repeat;
    position: absolute;
    z-index: 0;
    bottom: 0px;
    opacity: 0.25;
    height: 1600px;
}
#getJump, #getAirJump, #fallingPlatform, #getStar {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 4;
    display: none;
    translate: var(--x) var(--y);
}
#grass-background {
    background-image: url(../Grass-Background.png);
}